<!doctype html>
<html lang="en">
  <head>
    <title>CharityChain</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800|Playfair+Display:,300, 400, 700" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">

    <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">


    <!-- Theme Style -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    
    <header role="banner">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand absolute" href="index.html">CharityChain</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link active" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="ministries.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <a class="dropdown-item" href="ministries.html">Donation</a>
                  <a class="dropdown-item" href="ministries.html">Open Ledger</a>
                  <a class="dropdown-item" href="ministries.html">Verify spending</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="events.html">Partners</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
    </header>
    <!-- END header -->
    
    <section class="home-slider owl-carousel">
      
      <div class="slider-item" style="background-image: url('img/slider-1.jpg');">
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate">
              <h1>Welcome to CharityChain</h1>
              
              <p class="mb-5">A trusted Donation system using blockchain</p>
              <p><a href="/add_user" class="btn btn-white btn-outline-white">Register now</a></p>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- END slider -->

    
    
    <section class="element-animate worship-time">
      
      <div class="half d-md-flex d-block">
        <div class="bg campmeeting" style="background-image: url(img/blockchain.jpg);">
          <h2>Why blockchain for donations?</h2>
          <p><a href="#" class="btn btn-white btn-outline-white">Find Out Now</a></p>
          <p></p>
          <p>Blockchain use cases in Finance</p>
          <p>Banking</p>
          <p>Crowdsourcing</p>
          <p>Donations</p>
        </div>
        <div>
          <h2 class="mb-5">Sign In </h2>
          <a  class="event-list-item first">
            <span class="date">User Name</span>
            <p><input type="text" class="form-control no-border" name="username" id="username"></p>
          </a>
          <a class="event-list-item">
            <span class="date">Password</span>
            <p><input type="password" class="form-control no-border" name="password" id="password"></p>
          </a>
          <a class="event-list-item">
            <span class="date"></span>
            <p><input type="button" class="btn-primary"  onclick="upload()" value="SignIn"></p>


          </a>

        </div>
      </div>

    </section>
    <!-- END section -->

    <section class="section pt-5 pb-2 bg-light">
      <div class="container">
        <div class="row mb-5 justify-content-center element-animate">
          <div class="col-md-12">
             <!--<h2>Audio Sermons</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-4 mb-5">
            
            <div class="sermon element-animate">
              <img src="img/img_1.jpg" alt="" class="img-fluid">
              <div class="sermon-text">
            <h2><a href="#">Arise, Shine</a></h2>
            <p class="sermon-meta">by <a href="#">Luis Matthew</a> on March 28, 2018</p>
            </div>
            <div class="player">
                <audio id="player2" preload="none" controls style="max-width: 100%">
                    <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3" type="audio/mp3">
                </audio>
            </div>
            </div>

          </div>
          <div class="col-12 col-sm-6 col-lg-4 mb-5">
            
            <div class="sermon element-animate">
              <img src="img/img_2.jpg" alt="" class="img-fluid">
              <div class="sermon-text">
            <h2><a href="#">Filled in Him</a></h2>
            <p class="sermon-meta">by <a href="#">Luis Matthew</a> on March 28, 2018</p>
            </div>
            <div class="player">
                <audio id="player3" preload="none" controls style="max-width: 100%">
                    <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3" type="audio/mp3">
                </audio>
            </div>
            </div>

          </div>
          <div class="col-12 col-sm-6 col-lg-4 mb-5">
            
            <div class="sermon element-animate">
              <img src="img/img_3.jpg" alt="" class="img-fluid">
              <div class="sermon-text">
            <h2><a href="#">Jehovah the Creator</a></h2>
            <p class="sermon-meta">by <a href="#">Luis Matthew</a> on March 28, 2018</p>
            </div>
            <div class="player">
                <audio id="player4" preload="none" controls style="max-width: 100%">
                    <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3" type="audio/mp3">
                </audio>
                -->
            </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <!-- END section -->
    
    <section class="section ">
      <div class="container">
        <div class="row mb-5 justify-content-center element-animate">
          <div class="col-md-12">
            <h2>Latest Events</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4 element-animate">
            <div class="media custom-media">
              <img class="mr-3" width="30" src="img/img_1.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <h3 class="mt-0"><a href="#">CMDRF &amp; Flood relief</a></h3>
                <p class="post-meta">August 15, 2018, <a href="#">Government Collaboration</a></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed obcaecati, totam recusandae iure non nemo.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 element-animate">
            <div class="media custom-media">
              <img class="mr-3" width="30" src="img/img_2.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <h3 class="mt-0"><a href="#">Educate Policy</a></h3>
                <p class="post-meta">May 12, 2018, <a href="#">Missions</a></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed obcaecati, totam recusandae iure non nemo.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 element-animate">
            <div class="media custom-media">
              <img class="mr-3" width="30" src="img/img_3.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <h3 class="mt-0"><a href="#">Tracts Giving</a></h3>
                <p class="post-meta">May 12, 2018, <a href="#">Care Ministry</a></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed obcaecati, totam recusandae iure non nemo.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- END section -->
    <section class="section bg-light">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-8  text-center">
            <h2>Personal Testimony</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-7">
            <div class="owl-carousel testimony-slider">
              <div>
                <img src="img/pastor_1.jpg" alt="Image placeholder">
                <blockquote>
                  <p>CharityChain was developed with a motive to increase the number of people participating in charity. If a trusted system was given, i'm sure more people would be a part of many charities</p>
                </blockquote>
                <p>&mdash; Nandakishore VV</p>
              </div>
              <div>
                <img src="img/pastor_2.jpg" alt="Image placeholder">
                <blockquote>
                  <p>I loved workking in this project. I think it would be a benefit to the society and to the people in need</p>
                </blockquote>
                <p>&mdash; Amal C Saji</p>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="site-footer" role="contentinfo">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4 mb-5">
            <h3>CharityChain</h3>
            <p class="mb-5">A secure donation system where you can verify how your money was spent. CharityChain uses blockchain technology to ensure a transparent ledger system</p>
            <ul class="list-unstyled footer-link d-flex footer-social">
              <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
            </ul>

          </div>
         
          <div class="col-md-2 mb-5">
            <h3>Messages</h3>
            <ul class="list-unstyled footer-link">
              <li><a href="#">Past donations</a></li>
              <li><a href="#">Global Reach</a></li>
            </ul>
          </div>
          <div class="col-md-4 mb-5">
            <h3>Visit or Talk to Us</h3>
            <ul class="list-unstyled footer-link">
              <li class="d-block">
                <span class="d-block">Address:</span>
                <span class="text-white">S6 MCA, College of Engineering, Trivandrum</span></li>
              <li class="d-block"><span class="d-block">Telephone:</span><span class="text-white">8281828182</span></li>
              <li class="d-block"><span class="d-block">Email:</span><span class="text-white">chache@ycharitychain.com</span></li>
            </ul>
          </div>
          
        </div>
        <div class="row">
          <div class="col-12 text-md-left text-left">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> <br> Alphadew</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- END footer -->

    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelement-and-player.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/main.js"></script>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
                var mediaElements = document.querySelectorAll('video, audio'), total = mediaElements.length;

                for (var i = 0; i < total; i++) {
                    new MediaElementPlayer(mediaElements[i], {
                        pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
                        shimScriptAccess: 'always',
                        success: function () {
                            var target = document.body.querySelectorAll('.player'), targetTotal = target.length;
                            for (var j = 0; j < targetTotal; j++) {
                                target[j].style.visibility = 'visible';
                            }
                  }
                });
                }
            });
    </script>
       <script type="text/javascript" src="/js/newjquery-3.3.1.min.js"></script>  
    <script type="text/javascript" src="/js/web3.js"></script>
    <script type="text/javascript" src="/js/connection.js"></script>
  </body>
</html>