<link href="/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

 

<div class="container">




<link rel="stylesheet" href="/css/add_voter.css"/>

<br><br>
<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Register Voter</h4><br>

  
<div class="container">
  <form>
    <label class="radio-inline">
      <input type="radio" id="m" name="optradio" checked>Male
    </label>
    <label class="radio-inline">
      <input type="radio" d="f" name="optradio">Female
    </label>
    <label class="radio-inline">
      <input type="radio" d="o" name="optradio">Others
    </label>
  </form>
</div>

	<p class="divider-text">
    </p>
    
	<form>
 
         <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		</div>
    	<input name="" class="form-control" id="num" placeholder="user ID" type="text" required>
    </div> <!-- form-group// -->

	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="" id="name" class="form-control" placeholder="Full name" type="text" required>
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="" id="email" class="form-control" placeholder="Email address" type="email" required>
    </div> <!-- form-group// -->

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input class="form-control" id="pass" placeholder="Create password" type="password" required>
    </div> <!-- form-group// -->

       <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-flag"></i> </span>
		</div>
        <input class="form-control" id="count" placeholder="Country" type="text" required>
    </div> <!-- form-group// --> 

   
   
    
                                      
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" id="register"> Register Voter  </button>
    </div> <!-- form-group// -->      
    <p class="text-center">Have already registered? <a href="/users/view_voter">View Voter</a> </p>                                                                 
</form>
</article>
</div> <!-- card.// -->

</div> 
<!--container end.//-->

<br><br>

 <script type="text/javascript" src="/js/web3.js"></script>
<script type="text/javascript" src="/js/connection.js"></script>
           